.shigure-cover {
  width: 250px;
  height: 250px;
  border: 3px solid;
  border-radius: 50%;
  border-color: #df9e89;
}
/*
.sidebar > img {
  width: 75%;
  height: 75%;
  border: 3px solid;
  border-radius: 50%;
  border-color: #df9e89;
}
*/
.footer {
  text-align: right;
  font-style: italic;
}
